node_modules
# Keep environment variables out of version control
.env
prisma/dev.db
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Dependency directories
node_modules/
# Lock files
package-lock.json
yarn.lock
# Optional npm cache directory
.npm
# Local Store